<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="corpMng">

	<select id="select" parameterType="corpMng" resultMap="rs">
		SELECT * FROM company WHERE id = #{id} and pw = #{pw} and flag=1
	</select>
	
	<select id="getCorporate" parameterType="corpMng" resultMap="rs">
		SELECT * FROM company WHERE id = #{id} and flag=1
	</select>

	<resultMap type="corpMng" id="rs">
		<result property="id" column="id" />
		<result property="pw" column="pw" />
		<result property="name" column="name" />
		<result property="ceo" column="ceo" />
		<result property="addr" column="addr" />
		<result property="tel" column="tel" />
		<result property="email" column="email" />
		<result property="join_date" column="join_date" />
		<result property="flag" column="flag" />
	</resultMap>

	<select id="getAll" resultMap="rs">
		SELECT * FROM tablename1
	</select>

	<insert id="insert" parameterType="corpMng">
		INSERT INTO company (id, pw, name, ceo, addr, tel, email, join_date, flag) VALUES(#{id},#{pw},#{name},#{ceo},#{addr},#{tel},#{email},now(),1)
	</insert>

	<update id="update" parameterType="corpMng">
		UPDATE company SET pw=#{pw}, name=#{name}, ceo=#{ceo}, email=#{email}, tel=#{tel}, addr=#{addr} 
		WHERE id = #{id}
	</update>
	
	<update id="flag" parameterType="corpMng">
		UPDATE company SET flag=0 
		WHERE id = #{id}
	</update>
	<update id="flag2" parameterType="employeeMng">
		UPDATE employee SET flag=0 WHERE com_id=#{com_id}
	</update>

	<delete id="deleteSomething" parameterType="corpMng">
		DELETE FROM tablename1 WHERE
		columnname1 = #{param1}
	</delete>

</mapper>
